<mat-card id="registration_card">
  <mat-card-title>
    Registration
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="registrationForm">
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput formControlName="login" placeholder="Login">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password">
      </mat-form-field>
      <br>
      <ngx-recaptcha2 #captchaElem
                      [siteKey]="siteKey"
                      [useGlobalDomain]="false"
                      [size]="captchaSize"
                      [hl]="captchaLang"
                      [theme]="captchaTheme"
                      [type]="captchaType"
                      formControlName="recaptcha">
      </ngx-recaptcha2>
      <mat-list *ngIf="errors">
        <mat-list-item class="login_error" *ngFor="let error of errors;">
          {{error}}
        </mat-list-item>
      </mat-list>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          (click)="onFormSubmit()"
          [disabled]="!registrationForm.valid"
        >
          Registration
        </button>
      </mat-card-actions>
    </form>
    <button (click)="goToLogin()" mat-button color="primary">Sign in?</button>
  </mat-card-content>
</mat-card>
